{% extends '@App/base.html.twig' %}

{% block header %}
    <header class="header--form-page">
{% endblock %}

{% block donation %}
    <div class="slogan container container--90">
        <div class="slogan--item">
            <h1>
                {% trans %}donation.form.slogan.text{% endtrans %}<br/>
                <span class="uppercase">{% trans %}donation.form.slogan.upper{% endtrans %}</span>
            </h1>

            <div class="slogan--steps">
                <div class="slogan--steps-title">{% trans %}donation.form.steps.title{% endtrans %}:</div>
                <ul class="slogan--steps-boxes">
                    <li>
                        <div><em>1</em><span>{% trans %}donation.form.steps.one{% endtrans %}</span></div>
                    </li>
                    <li>
                        <div><em>2</em><span>{% trans %}donation.form.steps.two{% endtrans %}</span></div>
                    </li>
                    <li>
                        <div><em>3</em><span>{% trans %}donation.form.steps.three{% endtrans %}</span></div>
                    </li>
                    <li>
                        <div><em>4</em><span>{% trans %}donation.form.steps.four{% endtrans %}</span></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <section class="form--steps">
        <div class="form--steps-instructions">
            <div class="form--steps-container">
                <h3>{% trans %}donation.form.steps.instruction.title{% endtrans %}</h3>
                <p data-step="1" class="active">
                    {% trans %}donation.form.steps.instruction.one{% endtrans %}
                </p>
                <p data-step="2">
                    {% trans %}donation.form.steps.instruction.two{% endtrans %}
                </p>
                <p data-step="3">
                    {% trans %}donation.form.steps.instruction.three{% endtrans %}
                </p>
                <p data-step="4">{% trans %}donation.form.steps.instruction.four{% endtrans %}</p>
            </div>
        </div>

        <div class="form--steps-container">
            <div class="form--steps-counter">{% trans %}donation.form.steps.step{% endtrans %} <span>1</span>/4</div>
                {% form_theme form '@App/form/donation.html.twig' %}
                {{ form_start(form) }}
                <!-- STEP 1: class .active is switching steps -->
                <div data-step="1" class="active">
                    <h3>{% trans %}donation.form.steps.subtitle.one{% endtrans %}:</h3>
                        {{ form_widget(form.categories) }}
                    <div class="form-group form-group--buttons">
                        <button type="button" class="btn next-step">{% trans %}donation.form.button.next{% endtrans %}</button>
                    </div>
                </div>

                <!-- STEP 2 -->
                <div data-step="2">
                    <h3>{% trans %}donation.form.steps.subtitle.two{% endtrans %}:</h3>
                        {{ form_widget(form.quantity) }}
                    <div class="form-group form-group--buttons">
                        <button type="button" class="btn prev-step">{% trans %}donation.form.button.previous{% endtrans %}</button>
                        <button type="button" class="btn next-step">{% trans %}donation.form.button.next{% endtrans %}</button>
                    </div>
                </div>

                <!-- STEP 3 -->
                <div data-step="3">
                    <h3>{% trans %}donation.form.steps.subtitle.three{% endtrans %}:</h3>
                        {{ form_widget(form.institution) }}
                    <div class="form-group form-group--buttons">
                        <button type="button" class="btn prev-step">{% trans %}donation.form.button.previous{% endtrans %}</button>
                        <button type="button" class="btn next-step">{% trans %}donation.form.button.next{% endtrans %}</button>
                    </div>
                </div>

                <!-- STEP 4 -->
                <div data-step="4">
                    <h3>{% trans %}donation.form.steps.subtitle.four{% endtrans %}:</h3>

                    <div class="form-section form-section--columns">

                        <div class="form-section--column">
                            <h4>{% trans %}donation.form.steps.step-four.address.title{% endtrans %}</h4>
                            <div class="form-group form-group--inline">
                                <label>{% trans %}donation.form.steps.step-four.address.street{% endtrans %} {{form_widget(form.street)}} </label>
                            </div>

                            <div class="form-group form-group--inline">
                                <label>{% trans %}donation.form.steps.step-four.address.city{% endtrans %} {{form_widget(form.city)}} </label>
                            </div>

                            <div class="form-group form-group--inline">
                                <label>{% trans %}donation.form.steps.step-four.address.zipcode{% endtrans %} {{form_widget(form.zipCode)}} </label>
                            </div>

                            <div class="form-group form-group--inline">
                                <label>{% trans %}donation.form.steps.step-four.address.phone{% endtrans %} {{form_widget(form.phone)}} </label>
                            </div>
                        </div>

                        <div class="form-section--column">
                            <h4>{% trans %}donation.form.steps.step-four.pickup.title{% endtrans %}</h4>
                            <div class="form-group form-group--inline">
                                <label>{% trans %}donation.form.steps.step-four.pickup.date{% endtrans %}
                                    {{ form_widget(form.pickUpDate) }}
{#                                    <input type="date" name="pickUpDate"/>#}
                                </label>
                            </div>

                            <div class="form-group form-group--inline">
                                <label>{% trans %}donation.form.steps.step-four.pickup.time{% endtrans %} {{form_widget(form.pickUpTime)}} </label>
                            </div>

                            <div class="form-group form-group--inline">
                                <label>
                                    {% trans %}donation.form.steps.step-four.pickup.comment{% endtrans %}
                                    {{form_widget(form.pickUpComment)}}
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-group--buttons">
                        <button type="button" class="btn prev-step">{% trans %}donation.form.button.previous{% endtrans %}</button>
                        <button type="button" class="btn next-step">{% trans %}donation.form.button.next{% endtrans %}</button>
                    </div>
                </div>

                <!-- STEP 5 -->
                <div data-step="5">
                    <h3>{% trans %}donation.form.step-five.title{% endtrans %}</h3>

                    <div class="summary">
                        <div class="form-section">
                            <h4>{% trans %}donation.form.step-five.summary.title{% endtrans %}:</h4>
                            <ul>
                                <li>
                                    <span class="icon icon-bag"></span>
                                    <span class="summary--text"><span id="quantity-summary"></span> {% trans %}donation.form.step-five.summary.bags{% endtrans %} <span id="category-summary"></span></span>
                                </li>
                                <li>
                                    <span class="icon icon-hand"></span>
                                    <span class="summary--text">{% trans %}donation.form.step-five.summary.subtitle{% endtrans %}
                                    <span id="institution-summary"></span></span>
                                </li>
                            </ul>
                        </div>

                        <div class="form-section form-section--columns">
                            <div class="form-section--column">
                                <h4>{% trans %}donation.form.step-five.address{% endtrans %}:</h4>
                                <ul>
                                    <li id="street-summary"></li>
                                    <li id="city-summary"></li>
                                    <li id="zipCode-summary"></li>
                                    <li id="phone-summary"></li>
                                </ul>
                            </div>

                            <div class="form-section--column">
                                <h4>{% trans %}donation.form.step-five.pickup{% endtrans %}:</h4>
                                <ul>
                                    <li id="date-summary"></li>
                                    <li id="time-summary"></li>
                                    <li id="comments-summary"></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="form-group form-group--buttons">
                        <button type="button" class="btn prev-step">{% trans %}donation.form.button.previous{% endtrans %}</button>
                        <button type="submit" class="btn">{% trans %}donation.form.button.confirm{% endtrans %}</button>
                    </div>
                </div>
                {{ form_widget(form._token) }}
                {{ form_errors(form) }}
            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}