{% extends '@App/admin/base.html.twig' %}
{% block adminPage %}
    <h1>Institution edit</h1>

    {{ form_start(edit_form) }}
    <div class="container">
        <div class="row">
            <div class="col-sm-1">
                {{ form_label(edit_form.name) }}
            </div>
            <div class="col-sm">
                {{ form_widget(edit_form.name) }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1">
                {{ form_label(edit_form.description) }}
            </div>
            <div class="col-sm">
                {{ form_widget(edit_form.description) }}
            </div>
        </div>
        <button type="submit" class="btn-primary">Edytuj</button>
    </div>
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('institution_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete" class="btn-danger">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
