{% extends '@App/admin/base.html.twig' %}
    {% block adminPage %}
        <h1>{% trans %}institution.index.title{% endtrans %}</h1>

        <table class="table">
            <thead>
            <tr>
                <th>{% trans %}institution.index.id{% endtrans %}</th>
                <th>{% trans %}institution.index.name{% endtrans %}</th>
                <th>{% trans %}institution.index.desc{% endtrans %}</th>
                <th>{% trans %}institution.index.action{% endtrans %}</th>
            </tr>
            </thead>
            <tbody>
            {% for institution in institutions %}
                <tr>
                    <td><a href="{{ path('institution_show', { 'id': institution.id }) }}">{{ institution.id }}</a></td>
                    <td>{{ institution.name }}</td>
                    <td>{{ institution.description }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('institution_show', { 'id': institution.id }) }}">{% trans %}institution.index.button.show{% endtrans %}</a>
                            </li>
                            <li>
                                <a href="{{ path('institution_edit', { 'id': institution.id }) }}">{% trans %}institution.index.button.edit{% endtrans %}</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <ul>
            <li>
                <a href="{{ path('institution_new') }}">{% trans %}institution.index.link.create{% endtrans %}</a>
            </li>
        </ul>
    {% endblock %}