{% extends '@App/base.html.twig' %}
{% block header %}
<header class="header">
    {% endblock %}

    {% block body %}
        <h1>Institution creation</h1>
        {{ form_start(form) }}

        <div class="container">
            <div class="row">
                <div class="col-sm-1">
                    {{ form_label(form.name) }}
                </div>
                <div class="col-sm">
                    {{ form_widget(form.name) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-1">
                    {{ form_label(form.description) }}
                </div>
                <div class="col-sm">
                    {{ form_widget(form.description) }}
                </div>
            </div>
            <button type="submit" class="btn-primary">Utwórz</button>
        </div>
        {{ form_end(form) }}
        <ul>
            <li>
                <a href="{{ path('institution_index') }}">Back to the list</a>
            </li>
        </ul>
    {% endblock %}
