{% extends '@App/admin/base.html.twig' %}

    {% block adminPage %}
        <h1>Admin list</h1>

        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Email</th>
                <th>Active</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td><a href="{{ path('admin_show', { 'id': user.id }) }}">{{ user.id }}</a></td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.enabled }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('admin_show', { 'id': user.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('admin_edit', { 'id': user.id }) }}">edit</a>
                            </li>
                            {% set path = app.request.pathinfo | trim('/') %}
                            {% if path == 'user' %}
                                <li>
                                    <a href="{{ path('user_promote', { 'id': user.id }) }}">promote</a>
                                </li>
                                <li>
                                    {% if user.enabled %}
                                        <a href="{{ path('user_deactive', { 'id': user.id }) }}">block user</a>
                                    {% else %}
                                        <a href="{{ path('user_active', { 'id': user.id }) }}">unblock user</a>
                                    {% endif %}
                                </li>
                            {% endif %}
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% endblock %}