{% extends '@App/admin/base.html.twig' %}
    {% block adminPage %}
        <h1>{% trans %}admin.edit.title{% endtrans %}</h1>

        {{ form_start(edit_form) }}
        <div class="container">
            <div class="row">
                <div class="col-sm-1">
                    {{ form_label(edit_form.username) }}
                </div>
                <div class="col-sm">
                    {{ form_widget(edit_form.username) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-1">
                    {{ form_label(edit_form.email) }}
                </div>
                <div class="col-sm">
                    {{ form_widget(edit_form.email) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-1">
                    {{ form_label(edit_form.firstname) }}
                </div>
                <div class="col-sm">
                    {{ form_widget(edit_form.firstname) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-1">
                    {{ form_label(edit_form.surname) }}
                </div>
                <div class="col-sm">
                    {{ form_widget(edit_form.surname) }}
                </div>
            </div>
            <input type="submit" value="{% trans %}admin.edit.button.edit{% endtrans %}" class="btn-primary"/>
        </div>
        {{ form_end(edit_form) }}

        <ul>
            <li>
                <a href="{{ path('admin_index') }}">{% trans %}admin.edit.link.back{% endtrans %}</a>
            </li>
        </ul>
    {% endblock %}
