{% extends '@App/admin/base.html.twig' %}

    {% block adminPage %}
        <h1>{% trans %}admin.index.title{% endtrans %}</h1>

        <table class="table">
            <thead>
            <tr>
                <th>{% trans %}admin.index.id{% endtrans %}</th>
                <th>{% trans %}admin.index.username{% endtrans %}</th>
                <th>{% trans %}admin.index.email{% endtrans %}</th>
                <th>{% trans %}admin.index.action{% endtrans %}</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td><a href="{{ path('admin_show', { 'id': user.id }) }}">{{ user.id }}</a></td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('admin_show', { 'id': user.id }) }}">{% trans %}admin.index.link.show{% endtrans %}</a>
                            </li>
                            <li>
                                <a href="{{ path('admin_edit', { 'id': user.id }) }}">{% trans %}admin.index.link.edit{% endtrans %}</a>
                            </li>
                            <li>
                                <a href="{{ path('user_demote', { 'id': user.id }) }}">{% trans %}admin.index.link.demote{% endtrans %}</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% endblock %}