{% extends '@App/admin/base.html.twig' %}
    {% block adminPage %}
        <h1>{% trans %}admin.show.title{% endtrans %}</h1>

        <table class="table">
            <tbody>
            <tr>
                <th>{% trans %}admin.show.id{% endtrans %}</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>{% trans %}admin.show.username{% endtrans %}</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>{% trans %}admin.show.email{% endtrans %}</th>
                <td>{{ user.email }}</td>
            </tr>
            </tbody>
        </table>

        <ul>
            <li>
                <a href="{{ path('admin_index') }}">{% trans %}admin.show.link.back{% endtrans %}</a>
            </li>
            <li>
                <a href="{{ path('admin_edit', { 'id': user.id }) }}">{% trans %}admin.show.link.edit{% endtrans %}</a>
            </li>
        </ul>
    {% endblock %}