<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ path('admin_page') }}">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">SB Admin <sup>2</sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" href="{{path('homepage')}}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>{% trans %}admin.sidebar.portal{% endtrans %}</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        {% trans %}admin.sidebar.management{% endtrans %}
    </div>

    <!-- Nav Item - Pages Administrator Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>{% trans %}admin.sidebar.admin.title{% endtrans %}</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">{% trans %}admin.sidebar.admin.info{% endtrans %}:</h6>
                <a class="collapse-item" href="{{path('admin_index')}}">{% trans %}admin.sidebar.admin.show{% endtrans %}</a>
                <a class="collapse-item" href="{{path('user_index')}}">{% trans %}admin.sidebar.admin.new{% endtrans %}</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - User Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fas fa-fw fa-wrench"></i>
            <span>{% trans %}admin.sidebar.user.title{% endtrans %}</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">{% trans %}admin.sidebar.user.info{% endtrans %}:</h6>
                <a class="collapse-item" href="{{path('user_index')}}">{% trans %}admin.sidebar.user.show{% endtrans %}</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Institution Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseInstitution" aria-expanded="true" aria-controls="collapseInstitution">
            <i class="fas fa-fw fa-wrench"></i>
            <span>{% trans %}admin.sidebar.institution.title{% endtrans %}</span>
        </a>
        <div id="collapseInstitution" class="collapse" aria-labelledby="headingInstitution" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">{% trans %}admin.sidebar.institution.info{% endtrans %}:</h6>
                <a class="collapse-item" href="{{path('institution_index')}}">{% trans %}admin.sidebar.institution.show{% endtrans %}</a>
                <a class="collapse-item" href="{{path('institution_new')}}">{% trans %}admin.sidebar.institution.new{% endtrans %}</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Gift state Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseGiftState" aria-expanded="true" aria-controls="collapseGiftState">
            <i class="fas fa-fw fa-wrench"></i>
            <span>{% trans %}admin.sidebar.giftstate.title{% endtrans %}</span>
        </a>
        <div id="collapseGiftState" class="collapse" aria-labelledby="headingGiftState" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">{% trans %}admin.sidebar.giftstate.info{% endtrans %}:</h6>
                <a class="collapse-item" href="{{path('giftstate_index')}}">{% trans %}admin.sidebar.giftstate.show{% endtrans %}</a>
                <a class="collapse-item" href="{{path('giftstate_new')}}">{% trans %}admin.sidebar.giftstate.new{% endtrans %}</a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        {% trans %}admin.sidebar.addons.title{% endtrans %}
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item active">
        <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
            <i class="fas fa-fw fa-folder"></i>
            <span>{% trans %}admin.sidebar.addons.page.title{% endtrans %}</span>
        </a>
        <div id="collapsePages" class="collapse show" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">{% trans %}admin.sidebar.addons.page.user.title{% endtrans %}:</h6>
                <a class="collapse-item" href="{{path('fos_user_security_login')}}">{% trans %}admin.sidebar.addons.page.user.login{% endtrans %}</a>
                <a class="collapse-item" href="{{path('fos_user_registration_register')}}">{% trans %}admin.sidebar.addons.page.user.register{% endtrans %}</a>
                <a class="collapse-item" href="{{path('fos_user_resetting_request')}}">{% trans %}admin.sidebar.addons.page.user.forgot{% endtrans %}</a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->
