<ul>
    <li><a href="{{ path('homepage') }}" class="btn btn--without-border active">Start</a></li>
    <li><a href="{{ path('homepage') }}#steps" class="btn btn--without-border">O co chodzi?</a></li>
    <li><a href="{{ path('homepage') }}#about-us" class="btn btn--without-border">O nas</a></li>
    <li><a href="{{ path('homepage') }}#help" class="btn btn--without-border">Fundacje i organizacje</a></li>
    <li><a href="{{ path('add_donation') }}" class="btn btn--without-border">Przekaż dary</a></li>
    <li><a href="{{ path('homepage') }}#contact" class="btn btn--without-border">Kontakt</a></li>
</ul>
