{% trans_default_domain 'FOSUserBundle' %}
<section class="login-page">
    <h2>{{ 'Ustaw nowe hasło'|trans }}</h2>

    {{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}
    <div class="form-group">
        {{ form_rest(form.plainPassword) }}
        <div id="progressBar">
            <div id="progress-bar"></div>
        </div>
    </div>
    <div>
        <input type="submit" value="{{ 'resetting.reset.submit'|trans }}"/>
    </div>
    {{ form_end(form) }}
</section>