{% extends '@App/admin/base.html.twig' %}

    {% block adminPage %}
        <h1>{% trans %}user.index.title{% endtrans %}</h1>

        <table class="table">
            <thead>
            <tr>
                <th>{% trans %}user.index.id{% endtrans %}</th>
                <th>{% trans %}user.index.username{% endtrans %}</th>
                <th>{% trans %}user.index.email{% endtrans %}</th>
                <th>{% trans %}user.index.active{% endtrans %}</th>
                <th>{% trans %}user.index.action{% endtrans %}</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td><a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.id }}</a></td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{% if user.enabled %}{% trans %}user.index.state.yes{% endtrans %}{% else %}{% trans %}user.index.state.no{% endtrans %}{% endif %}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('user_show', { 'id': user.id }) }}">{% trans %}user.index.link.show{% endtrans %}</a>
                            </li>
                            <li>
                                <a href="{{ path('user_edit', { 'id': user.id }) }}">{% trans %}user.index.link.edit{% endtrans %}</a>
                            </li>
                            {% set path = app.request.pathinfo | trim('/') %}
                            {% if path == 'user' %}
                                <li>
                                    <a href="{{ path('user_promote', { 'id': user.id }) }}">{% trans %}user.index.link.promote{% endtrans %}</a>
                                </li>
                                <li>
                                    {% if user.enabled %}
                                        <a href="{{ path('user_deactive', { 'id': user.id }) }}">{% trans %}user.index.link.block{% endtrans %}</a>
                                    {% else %}
                                        <a href="{{ path('user_active', { 'id': user.id }) }}">{% trans %}user.index.link.unblock{% endtrans %}</a>
                                    {% endif %}
                                </li>
                            {% endif %}
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% endblock %}