{% extends '@App/base.html.twig' %}
{% block header %}
<header class="header">
    {% endblock %}

    {% block body %}
        {% for message in app.flashes('notice') %}
            <div class="flash-notice">
                <p>{{ message }}</p>
            </div>
        {% endfor %}

        <h1>{% trans %}donation.index.title{% endtrans %}</h1>

        <table class="table-striped table-bordered">
            <thead>
            <tr class="bg-info">
                <th scope="col">{% trans %}donation.index.id{% endtrans %}</th>
                <th scope="col">{% trans %}donation.index.user{% endtrans %}</th>
                <th scope="col">{% trans %}donation.index.state{% endtrans %}</th>
                <th scope="col">{% trans %}donation.index.quantity{% endtrans %}</th>
                <th scope="col">{% trans %}donation.index.street{% endtrans %}</th>
                <th scope="col">{% trans %}donation.index.city{% endtrans %}</th>
                <th scope="col">{% trans %}donation.index.zipcode{% endtrans %}</th>
                <th scope="col">{% trans %}donation.index.date{% endtrans %}</th>
                <th scope="col">{% trans %}donation.index.time{% endtrans %}</th>
                <th scope="col">{% trans %}donation.index.comment{% endtrans %}</th>
                <th scope="col">{% trans %}donation.index.phone{% endtrans %}</th>
                <th scope="col">{% trans %}donation.index.action{% endtrans %}</th>
            </tr>
            </thead>
            <tbody>
            {% for donation in donations %}
                <tr>
                    <td><a href="{{ path('donation_show', { 'id': donation.id }) }}">{{ donation.id }}</a></td>
                    <td>{{ donation.user }}</td>
                    <td>
                        {{donation.state.state}}
                    </td>
                    <td>{{ donation.quantity }}</td>
                    <td>{{ donation.street }}</td>
                    <td>{{ donation.city }}</td>
                    <td>{{ donation.zipCode }}</td>
                    <td>{% if (donation.pickUpDate) %}{{ donation.pickUpDate|date('Y-m-d') }}{% endif %}</td>
                    <td>{% if donation.pickUpTime %}{{ donation.pickUpTime|date('H:i:s') }}{% endif %}</td>
                    <td>{{ donation.pickUpComment }}</td>
                    <td>{{ donation.phone }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('donation_show', { 'id': donation.id }) }}">{% trans %}donation.index.link.show{% endtrans %}</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endblock %}