{% extends '@App/admin/base.html.twig' %}

{% block adminPage %}
    <h1>{% trans %}giftstate.edit.title{% endtrans %}</h1>

    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    <button type="submit" class="btn">{% trans %}giftstate.edit.button.edit{% endtrans %}</button>
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('giftstate_index') }}">{% trans %}giftstate.edit.button.back{% endtrans %}</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <button type="submit" class="btn-danger">{% trans %}giftstate.edit.button.delete{% endtrans %}</button>
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
