{% extends '@App/admin/base.html.twig' %}

{% block adminPage %}
    <h1>{% trans %}giftstate.index.title{% endtrans %}</h1>

    <table class="table">
        <thead>
        <tr>
            <th>{% trans %}giftstate.index.id{% endtrans %}</th>
            <th>{% trans %}giftstate.index.state{% endtrans %}</th>
            <th>{% trans %}giftstate.index.action{% endtrans %}</th>
        </tr>
        </thead>
        <tbody>
        {% for giftState in giftStates %}
            <tr>
                <td><a href="{{ path('giftstate_show', { 'id': giftState.id }) }}">{{ giftState.id }}</a></td>
                <td>{{ giftState.state }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('giftstate_show', { 'id': giftState.id }) }}">{% trans %}giftstate.index.show{% endtrans %}</a>
                        </li>
                        <li>
                            <a href="{{ path('giftstate_edit', { 'id': giftState.id }) }}">{% trans %}giftstate.index.edit{% endtrans %}</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('giftstate_new') }}">{% trans %}giftstate.index.button.new{% endtrans %}</a>
        </li>
    </ul>
{% endblock %}
